<!doctype html>
<html>
    <head>
        <title>HomeBrewing</title>       
        <!-- bower:css -->
        <!-- endbower -->

        <!-- build:css styles/main.css -->
        <link href="styles/main.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>


        <!-- endbower -->

        <!-- build:js scripts/popup.js -->
        <script src="scripts/popup.js"></script>
        <!-- endbuild -->

        <script type="template/html" id="redditHomebrew">
            
            <%_.each (data, function(element, index, list){ %>

                <div class="row">
                    
                        <h2> <%= element.kind %></h2>
                        // <li> <%= element. %></li>
                        // <li> <%= element. %></li>
                    
                </div>

            <% }) %>

        </script>




    </head>
    <body>
        <h1>Home Brewing Reddit</h1>
        <div class="brewData">



            


        </div>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        
        <!-- endbower -->
        <!-- endbuild -->
    </body>
</html>
